PORT=3001
NODE_ENV=development
JWT_SECRET=change_this_super_secret_32_chars
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5434/odisea_cloud
ODIN_PANEL_URL=http://localhost:3003
IMPERSONATE_EXPIRES_IN=2h


